   .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
  }
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  
  .blog {
    margin: 10px auto;
    width: 88%;
  }
  
  .art {
    margin: 10px auto;
    width: 88%;
  }
  
  section {
    height: 87.2vh;
  }
  
  .foot-item {
    text-decoration: none;
  }
  
  .primary-text {
    color: #005a96;
  }
  
  .secondary-bg {
    background-color: #8dd6f8;
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    background-color: hsl(222, 48%, 92%);
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: hsl(243, 57%, 69%);
    font-weight: bold;
    border: none;
  }

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  